{
  "app": {
    "name": "service-a",
    "host": "0.0.0.0",
    "port": 4001,
    "register_address": "service-a",
    "health_check_address": "service-a"
  },
  "service_b": {
    "name": "service-b",
    "host": "service-b",
    "port": 50051
  },
  "otel_tracer": {
    "name": "otel-demo-tracer",
    "endpoint": "otel-collector:4317"
  }
}
