{
  "app": {
    "name": "service-b",
    "host": "0.0.0.0",
    "port": 50051,
    "register_address": "service-b",
    "health_check_address": "service-b"
  },
  "otel_tracer": {
    "name": "otel-demo-tracer",
    "endpoint": "otel-collector:4317"
  }
}
